<div>

	<div style="min-height:300px;">
		<div class="login-directive">
			<db-login-form-directive />
		</div>

		<div class="password-directive">
			<db-password-recovery-form-directive />
		</div>

		<div class="registration-directive">
			<db-registration-form-directive />
		</div>
	</div>

	<div class="col-sm-offset-2 col-sm-2 text-left">
		<button class="login-trigger">Authentification</button>
	</div>

	<div class="col-sm-2 text-center">
		<button class="password-trigger">Mot de passe oublié</button>
	</div>	

	<div class="col-sm-2 text-right">
		<button class="registration-trigger">Inscription</button>
	</div>

</div>