<form class="form-horizontal app-form" name="passwordRecoveryStart" novalidate="" ng-model="member">

	<!--

		Please note that we do not use elements' attributes without values.
		that is, we specify:
			novalidate=""
		Rather than:
			novalidate

		The same semark can be formulated for the attribute "db-member-id-validator-directive".
		Keep in mind that this attribute is, in facts, a directive.

	-->

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<h2>Récupération de votre mot de passe</h2>
		</div>
	</div>

	<!-- LOGIN / EMAIL -->

	<div class="form-group">
		<label for="inputId" class="col-sm-2 control-label">Pseudo ou email</label>
		<div class="col-sm-6">
  			<input name="inputId" type="text" ng-required="true" ng-model="passwordRecoveryStartContext.member.id" db-member-id-validator-directive="" class="form-control" placeholder="Votre pseudo ou votre adresse email" ng-model-options="{ updateOn: 'blur' }" />
		</div>

		<div class="col-sm-offset-2 col-sm-6">
			<ng-messages for="passwordRecoveryStart.inputId.$error" role="alert" ng-show="passwordRecoveryStart.inputId.$touched">
				<ng-message when="required">Vous devez entrer un pseudonyme ou une adresse email afin que nous puissions vous envoyer un nouveau mot de passe.</ng-message>
				<ng-message when="db-member-id">Le pseudonyme ou l'adresse email n'est pas valide.</ng-message>
			</ng-messages>
		</div>
	</div>

	<!-- SUBMIT -->

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
  			<button type="submit" class="btn btn-default password-recovery-start-submit-trigger" ng-click="passwordRecoveryStartContext.submit()"
  			ng-disabled="passwordRecoveryStartContext.disabled.submit">Envoyer</button>
		</div>
	</div>

</form>